body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0)
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
    padding-left: 7px;
}
img {border: 5px solid black;
    width:500px

}
p{
    font-size: 20px;
    padding-right: 5px;
}